# Ignore build related files.
**.o
**.a
**.d
**Makefile
**MakeFile
**.make
build/

# Ignore binaries
**bin
**bin/*
ext/gtest/test1_example

# Ignore hidden directories
.settings

# Ignore mac specific items
.DS_Store
.idea/

# Ignore XCode specific items
Rigid3D.xcodeproj/project.xcworkspace/xcuserdata/*
