<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DrawElementsBaseVertex_Example.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Rigid3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Rigid3D_Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TexturedCube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>glfw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>683D4F5E18F9E8490035B9BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683D53BD18F9EAB00035B9BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683DA171196A4969001F2112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>683DA185196A4AA4001F2112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>689E54B818FA355200F1A724</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68C664A21924477D00E2C21B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
